<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <div class="card mt-5" style="width: 600px; margin: auto">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn">Add User</a>
                    <div class="">
                        <a href="/" class="btn border me-2">Home</a>
                        <a href="/all-user" class="btn border">Back</a>
                    </div>
                </div>
                
            </div>
            <div class="card-body">
                <form action="/post-crud" method="post">
                    <div class="row">
                        <div class="col-8">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email address</label>
                                        <input type="text" class="form-control" id="email" name="email" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="pass" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="pass" name="password" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="fname" class="form-label">Frist Name</label>
                                        <input type="text" class="form-control" id="fname" name="fristName" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="lname" class="form-label">Last Name</label>
                                        <input type="text" class="form-control" id="lname" name="lastName" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="mb-2">
                                <select class="form-select form-select-sm" aria-label="Small select example"
                                    name="gender">
                                    <option selected value="0">male</option>
                                    <option value="1">female</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <select class="form-select form-select-sm" aria-label="Small select example"
                                    name="rodeId">
                                    <option selected value="0">Admin</option>
                                    <option value="1">Master</option>
                                    <option value="2">Doctor</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">phone</label>
                                <input type="text" class="form-control" id="phone" name="phonenumber" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <label for="adsress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" name="adress" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Add +</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>